*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 100vh;
  grid-row-gap: 20rem; }

img {
  max-width: 100%; }

body {
  font-family: "Gentium Basic", serif;
  font-size: 1.7rem;
  line-height: 2.8rem; }

.section-header {
  grid-column: 1 / -1;
  margin: 4rem 0;
  font-family: "Cinzel Decorative", cursive;
  font-size: 6rem;
  text-align: center; }

p {
  margin-bottom: 2.8rem; }

ul {
  margin-left: 4rem;
  line-height: 2.4rem; }
  ul li {
    margin-bottom: 1rem; }

.menu {
  position: fixed;
  height: 5rem;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6); }
  .menu ul {
    display: flex;
    justify-content: center;
    padding: 1rem;
    list-style: none; }
  .menu li a {
    padding: 0 3rem;
    font-family: sans-serif;
    font-size: 1.4rem;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase; }
    .menu li a:link, .menu li a:active, .menu li a:visited {
      color: whitesmoke; }

.hero {
  grid-column: full-start / full-end;
  background: url("../images/hero.jpg") no-repeat fixed center;
  background-size: cover;
  margin-top: -5rem;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 6% 4%; }
  .hero--title {
    font-family: "Cinzel Decorative", cursive;
    font-size: 10vh;
    line-height: 10vh; }

.om-meg {
  grid-column: col-start 1 / col-end 8;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 3rem; }
  .om-meg__innledning {
    grid-column: 1 / 3;
    font-size: 2.4rem;
    line-height: 3rem; }
  .om-meg__opptredener {
    grid-column: 3 / -1;
    background-color: antiquewhite;
    padding: 3rem; }
    .om-meg__opptredener ul {
      list-style: none;
      margin: 0;
      font-size: 1.6rem;
      line-height: 2rem; }
      .om-meg__opptredener ul li p {
        margin-bottom: 1.6rem; }

/* MEDIA SECTION ****************************** */
.media {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(1rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(1rem, 1fr) [full-end];
  background-color: #2e326b;
  color: #fff; }
  .media__container {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    align-items: stretch;
    margin: 3rem 0;
    padding: 3rem; }

.video:first-of-type {
  grid-column: 1 / -1; }

.well {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.presse {
  grid-column: center-start / center-end;
  margin: 3rem 0;
  padding: 3rem; }
  .presse ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
    margin: 3rem 0;
    list-style-type: none; }

.kontakt {
  grid-column: full-start / full-end;
  padding: 3rem;
  color: beige;
  background-color: black; }
  .kontakt a:link,
  .kontakt a:visited {
    color: beige; }

.blogg {
  grid-column: col-start 2 / col-end 7;
  display: grid;
  grid-row-gap: 8rem; }
  .blogg__tittel {
    grid-column: 1 / -1; }
  .blogg__post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
    align-items: center; }
  .blogg__bilde {
    display: block;
    grid-column: 1 / 2; }
  .blogg__tekst {
    grid-column: 2 / 3; }

.footer {
  grid-column: full-start / full-end;
  padding: 3rem; }
